.main-layout {
	min-height: 100vh;
}

.trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    color: #1890ff;
}

.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}

.site-layout {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
}

.site-layout-content {
	padding: 10px;
}

.site-layout .site-layout-background {
    background: #fff;
}

.nav a {
	color: #fff;
}

.nav a:hover {
	font-weight: 700;
}

.login-layout {
	width: 100wh;
}